*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.resize{
    width: 100px;
}
.locandina{
    width: 150px;
    height: 250px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.centro{
    text-align: center;
    margin: 5px;
}